.desctop-menu,
.desctop-menu .dropdown:hover .dropdown-content,
header .content.open .main-logo .h1,
header .desctop-menu .navbar-nav .nav-item.dd:hover .dropdownMenu {
    display: block
}

header .content.open {
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

header .content.open .main-logo img {
    display: none
}

.mobile-menu.hide * {
    opacity: 0
}

.dropdownMenu a,
.mobile-menu .clm {
    font-size: 20px;
    line-height: 28px;
    color: #fff
}

header .navbar-nav .nav-link i {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(/img/arrow-white.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s
}

header .mobile-menu .nav-item.open .nav-link i,
header .navbar-nav .nav-item:hover .nav-link i {
    transform: rotate(180deg)
}

.mobile-menu,
.site .a-box .switch-btn input:checked~span {
    background-color: #0F44E1
}

.dropdown-content::-webkit-scrollbar {
    display: none
}

.dropdown-content.show {
    display: flex;
    flex-direction: column;
    align-items: center
}

.dropdown-content a {
    margin: 12px 0;
    text-decoration: none;
    display: flex;
    align-items: center
}

.content-area {
    padding-top: 80px;
    text-align: center
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 80px 0 24px;
    transform: translateY(-80px);
    transition: .5s;
    position: absolute;
    z-index: 10
}

.mobile-menu *,
.site .bottom-section * {
    opacity: 1;
    transition: .5s
}

.mobile-menu .clm {
    width: 100%;
    justify-content: center;
    margin: auto 0 7%;
    letter-spacing: -.6px;
    font-weight: 700;
    text-align: center
}

.mobile-menu .media-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px
}

.mobile-menu .media-box .item {
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid rgba(125, 126, 134, .2);
    margin: 0 6px
}

header .mobile-menu .navbar-nav {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 30px
}

header .mobile-menu .navbar-nav .nav-item {
    padding: 0 24px;
    width: 100%
}

header .mobile-menu .navbar-nav .nav-link {
    width: 100%;
    padding: 24px 0;
    border-top: 1px solid rgba(255, 255, 255, .1);
    justify-content: space-between
}

header .mobile-menu .dropdownMenu {
    display: block;
    position: relative;
    left: 0;
    transform: translateX(0);
    width: 100%;
    margin-top: 0;
    padding: 0;
    background: 0 0;
    overflow: hidden;
    height: 0;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}

.navigation a {
    background-position: center;
    background-repeat: no-repeat
}

header .mobile-menu .nav-item.open .dropdownMenu {
    height: auto;
    padding: 12px 0;
    overflow: visible;
    visibility: visible;
    opacity: 1;
}

header .mobile-menu .nav-item .nav-link i {
    transform: rotate(0)
}

header .mobile-menu .dropdownMenu::before {
    left: calc(100% - 24px) !important
}

.mobile-menu.hide {
    transform: translateY(-150%)
}

header .navbar-nav {
    width: 559px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none
}

header .navbar-nav .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center
}


header .navbar-nav .nav-item {
    z-index: 4;
    position: relative;
    width: fit-content
}

header .navbar-nav .nav-item:hover .nav-link {
    color: #fff
}

header.fixed-top {
    padding-bottom: 0
}

header.fixed-top .navbar-brand>img {
    width: 104px
}

header.fixed-top .menuContainer {
    margin-top: -58px
}

header .navbar-nav .nav-item.dd:hover .nav-link::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: -38px;
    background-color: var(--thirdNavColor)
}

.dropdownMenu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    width: 282px;
    margin-top: 28px;
    padding: 12px 0;
    background: #0F44E1;
}

.dropdownMenu>li,
.menu-toggle,
.site {
    position: relative
}

.dropdownMenu li,
.sectionC .list {
    list-style: none
}

.dropdownMenu a {
    width: 100%;
    padding: 16px 36px;
    font-weight: 600;
    display: block;
    text-decoration: none
}

.article-info-box .title,
.sectionA .h1,
.sectionA h2,
.site .info-box .name,
.site::before {
    font-weight: 700
}

.dropdownMenu::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .1;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0
}

.dropdownMenu::before {
    content: '';
    position: absolute;
    top: -4%;
    width: 24px;
    height: 24px;
    /* background-color: #587ede; */
    background-color: #0e3ecb;
    z-index: 2;
    left: 50%;
    transform: rotate(45deg) translate(-50%, 50%)
}

.dropdownMenu>li {
    z-index: 4
}

.menu-toggle {
    display: block;
    z-index: 9000;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    float: right;
    background-color: transparent
}

@media (min-width: 950px) {
    .menu-toggle {
        display: none
    }
}

.menu-toggle:focus {
    outline: 0
}

.menu-toggle:focus,
.menu-toggle:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none
}

.menu-toggle.is-active span {
    background-color: #fff;
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg)
}

.menu-toggle.is-active span::before {
    background-color: #fff;
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.menu-toggle.is-active span::after {
    background-color: transparent;
    bottom: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

.menu-toggle.is-active span::after,
.menu-toggle.is-active span::before {
    -webkit-transition: .3s;
    transition: .3s
}

.menu-toggle span {
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.menu-toggle span::after,
.menu-toggle span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    content: "";
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.menu-toggle span::before {
    top: -5px;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform, -webkit-transform
}

.menu-toggle span::after {
    bottom: -5px;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform, -webkit-transform
}

@media all and (max-width: 1280px){

    header .navbar-nav {
        width: 426px
    }
}

@media all and (max-width: 1130px) {

    header .navbar-nav {
        width: 426px
    }
}
@media all and (max-width: 950px) {

    .desctop-menu {
        display: none
    }
    header .navbar-nav .nav-item:hover .nav-link i {
        transform: rotate(0)
    }

    header .mobile-menu .nav-item.open .nav-link i {
        transform: rotate(180deg)
    }
}
@media all and (max-width: 650px){
    
}